* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*cascada*/

body{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header , footer{
    width: 100%;
    height: 10%;
}

main{
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    width: 18rem;
    height: 22rem;
    border: double 4px #c85801;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img {
    width: 100%;
    height: 50%;
    border-radius: 6px 6px 0 0;
}

.cart > h2 {
    margin-top: 0,5rem;
    font-size: 1,6rem;
    color: #434351d6;
}

.card > p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    margin: 0.2rem;
}

